# R history files
.Rhistory

# local files that are too big
data/uncertainty/
data/bgcu/

# zipped files
*.tgz

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

.log
.DS_Store
